<!DOCTYPE html>
<html>


<head>
  <title>Portfolio-foorumi</title>
</head>

<body>
    <h1>Portfolio-foorumi</h1>

    {% if session.username %}
    <p>
        Olet kirjautunut sisään nimellä {{ session.username }}, käyttäjä-id numerosi on {{ session.user_id }}
    </p>
    {% endif %}

    <p>
        {% if not session.username %}
            <a href="/login">Kirjaudu sisään</a>
            <a href="/register">Rekisteröidy</a>
        {% endif %}
        {% if session.username %}
            <a href="/logout">Kirjaudu ulos</a>
        {% endif %}
    </p>

    <p>
        <a href="/new_post">Uusi lanka</a>
        <a href="/find_thread">Etsi lanka</a>
    </p>

    <h1>Langat</h1>
    <ul>
        {% for thread in threads %}
        <li><a href="/thread/{{ thread.id }}">{{ thread.title }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>