<!DOCTYPE html>
<html>


<head>
  <title>Portfolio-foorumi</title>
  <link rel="stylesheet" href="/static/main.css">

</head>

<body>
    <h1>Portfolio-foorumi</h1>

    {% if session.username %}
    <p>
        Olet kirjautunut sisään nimellä <a href="/user/{{ user_id }}">{{ user }}</a>, käyttäjä-id numerosi on {{ session.user_id }}
    </p>
    {% endif %}

    <p>
        {% if not session.username %}
            <a href="/login">Kirjaudu sisään</a>
            <a href="/register">Rekisteröidy</a>
        {% endif %}
        {% if session.username %}
            <a href="/logout">Kirjaudu ulos</a>
        {% endif %}
    </p>

    <p>
        {% if session.username %}
        <a href="/new_post">Uusi lanka</a>
        {% endif %}
        <a href="/find_thread">Etsi lanka</a>
    </p>

    <h1>Langat</h1>
    <ul>
        {% for thread in threads %}
        <div class="thread">
        <a href="/thread/{{ thread.id }}">{{ thread.title }}</a> <br />
        Langan luoja: <a href="/user/{{ thread.user_id }}">{{ thread.username }}</a> <br />
        </div>
        {% endfor %}
    </ul>
</body>

</html>