<!DOCTYPE html>
<html>

<head>
  <title>Portfolio-foorumi</title>
</head>

<body>
    <h1>Portfolio-foorumi</h1>

    {% if session.username %}
    <p>
        Olet kirjautunut sisään nimellä {{ session.username }},käyttäjä-id numerosi on {{ session.user_id }}
    </p>
    {% endif %}

    <p>
        <a href="/login">Kirjaudu sisään</a>
        <a href="/register">Rekisteröidy</a>
        <a href="/logout">Kirjaudu ulos</a>
    </p>

    <p>
        <a href="/new_post">Uusi lanka</a>
    </p>
</body>

</html>