<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

{% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut sisään nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Käyttäjätunnus: <br />
      <input type="text" name="username" required />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" required />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
  <p>
    <a href="/"><input type="button" value="Etusivulle"/></a>
</p>
</body>

</html>
