<!DOCTYPE html>
<html>

<head>
    <title>Uusi lanka</title>
</head>
  <h2>Uusi lanka</h2>

{% with messages=get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul>
      {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
{% endwith %}

  <form action="/new_thread" method="post">
    <p>
      <label for="title">Otsikko:</label> <br />
      <input type="text" name="title" id="title" required maxlength="50"/>
    </p>
    <p>
      <label for="content">Viesti:</label> <br />
      <textarea name="content" id="content" rows="5" cols="40" required maxlength="1000"></textarea>
    </p>
    {% for class in classes %}
    <p>
      {{ class }}: <br />
      <select name="classes">
        <option value="">(valitse)</option>
        {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </p>
    {% endfor %}
    <p>
      <label for="parent_or_origin">Kotimaa/Emoyhtiö:</label> <br />
        <input type="text" name="parent_or_origin" id="parent_or_origin" size="9" maxlength="20"/>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Luo lanka" />
  </form>

  <p>
    <button onclick="history.back()">Takaisin</button>
  </p>

  <p>
    <a href="/"><input type="button" value="Etusivulle"/></a>
  </p>

</html>