<!DOCTYPE html>
<html>

<head>
    <title>{{ thread.title }}</title>
</head>

{% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

<body>
    <h2>{{ thread.title }}</h2>
    <p>Äänet: {{ thread.vote_count }}</p>
    {% if session.user_id %}
    <p>
        {% if user_vote != 1 %}
        <form action="/thread/{{ thread.id }}/vote" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="vote" value="1">
            <input type="submit" value="Kannata">
        </form>
        {% endif %}
        {% if user_vote != -1 %}
        <form action="/thread/{{ thread.id }}/vote" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="vote" value="-1">
            <input type="submit" value="Vastusta">
        </form>
        {% endif %}
    {% endif %}
    </p>
    {% if session.user_id == thread.user_id %}
    <p>
        <a href="/edit_thread/{{ thread.id }}">Muokkaa</a>
        <a href="/remove_thread/{{ thread.id }}">Poista</a>
        <a href="/images/{{ thread.id }}">Kuvat</a>
    </p>
    {% endif %}
    {% for image in images %}
    <img src="/image/{{ image.id }}" alt="Ilmoituksen kuva"/>
    {% endfor %}
    <p>
        {{ thread.content | show_lines }}
    </p>
    {% if classes %}
    <p>
      Luokat:
      <ul>
        {% for class in classes %}
        <li>{{ class.title }}: {{ class.value }}</li>
        {% endfor %}
      </ul>
    </p>
    {% endif %}
    <p>
       Kotimaa/emoyhtiö: {{ thread.parent_or_origin }}
    </p>
    <p>
       Kirjoittaja: <a href="/user/{{ thread.user_id }}">{{ thread.username }}</a>
    </p>

    <h2>Kommentit</h2>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message.username }} ({{ message.sent_at }}): {{ message.content }}</p>
        {% endfor %}
    {% else %}
        <p>Langalla ei ole vielä kommentteja</p>
    {% endif %}

    {% if session.user_id %}
        <h2>Lisää kommentti</h2>
        <form action="/thread/{{ thread.id }}/add_message" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <textarea name="content" rows="5" cols="50" required></textarea>
            <br>
            <input type="submit" value="Kommentoi">
        </form>
    {% else %}
        <p><a href="/login">kirjaudu sisään</a> kommentoidaksesi.</p>
    {% endif %}
    <p>
        <button onclick="history.back()">Takaisin</button>
    </p>
    <p>
        <a href="/"><input type="button" value="Etusivulle"/></a>
    </p>
</body>

</html>